.LOGO-title {
  /* LOGO-title */
  position: static;
  width: auto;
  height: 3rem;
  /* 自动布局 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.LOGO-name {
  display: grid;
  grid-template-columns: 0fr auto;
  gap: 0.5rem;
}
