.menu .left::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 0;
  height: 50%;
  width: 1px;
  background-color: rgb(255, 255, 255);
}
.menu .right::before {
  content: '';
  position: absolute;
  top: 25%;
  right: 0;
  height: 50%;
  width: 1px;
  background-color: rgb(255, 255, 255);
}